<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>인공지능소프트웨어 학과 일정</title>
		<link rel="stylesheet" href = "../public/css/calender.css"> 
		<script src="../public/js/calender.js"></script>
		<script src="../public/js/button.js"></script>
	
	</head>
	<body>
		<div id="icon" onclick="backbutton()">
			<img src="../public/img/free-icon-curve-left-arrow-20582.png" class="small" />
		</div>
		<div id="calendar">
			<table class="Calendar">
			<thead>
				<tr>
					<td onClick="prevCalendar();" style="cursor: pointer">&#60;</td>
					<td colspan="5"><span id="calYear"></span>년 <span id="calMonth"></span>월</td>
					<td onClick="nextCalendar();" style="cursor: pointer">&#62;</td>
				</tr>
				<tr>
					<td>일</td>
					<td>월</td>
					<td>화</td>
					<td>수</td>
					<td>목</td>
					<td>금</td>
					<td>토</td>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		</div>
		
	</body>
</html>
