<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>인공지능소프트웨어 학과 지도</title>
		<link rel="stylesheet" href = "../public/css/map.css">
		<script src="../public/js/button.js"></script>
	</head>
	<body>
		<div id="icon" onclick="backbutton();">
			<img src="../public/img/free-icon-curve-left-arrow-20582.png" class="small" />
		</div>
		<div id="Map">
			<img src="../public/img/capstoneMap.png" class="Big" />
		</div>
		<!--<button id="button1" onclick="button1_click('hello');">버튼1</button>  -->
	</body>
</html>
