<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>캡스톤 디자인</title>
		<link rel="stylesheet" href = "../public/css/index.css"> 
		<script src="../public/js/button.js"></script>
		<script src="../public/js/search.js"></script>
	</head>
	<body>
		<!-- #container = 중앙정렬-->
		<div id="container">
			<div id="middle">
				<p id="heading">INSO</p>
				<input type="text" name="search" id="search" />
				<button onclick="question()">검색</button>
				<br />
				<button onclick="start()">음성인식</button>
				<button onclick="stop()">음성인식 종료</button>
				<div id="icon">
					<!--학과지도-->
					<img src="../public/img/free-icon-building-4020599.png" class="small" onclick="icon1_click('학과지도');" />

					<!--학과소개-->
					<img src="../public/img/artificial_intelligence_ai_robot_technology_icon_179494.png" class="small" onclick="icon2_click('학과소개');" />

					<!--학과일정-->
					<img src="../public/img/calender.png" class="small" onclick="icon3_click('학과달력');" />
				</div>
			</div>
		</div>
		<script>
		</script>
	</body>
</html>
