<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학과소개</title>
    <link rel="stylesheet" href = "../public/css/introduce.css">
    <link rel="stylesheet" href="../public/css/icon.css">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <script src="../public/js/button.js"></script>
</head>
<body>
    <div id="icon" onclick="backbutton('hello');">
        <img src="../public/img/free-icon-curve-left-arrow-20582.png" class="small" />
    </div>
    <h1>학과소개</h1>
    <h3>1.학과개요</h3>
    <div class="contain">
        <img src="../public/img/introduceImage.png" width="250">
        <div>
            <h3>이런 학생에게 딱!</h3>
            <h4>-스마트폰 앱을 사용해본 학생</h4>
            <h4>-'인공지능'이란 단어를 들어본 학생</h4>
            <h4>-앱이나 홈페이지가 궁금한 학생</h4>
        </div>
    </div>
    <h3>무엇을 공부하나요?</h3>
    <h4>1학년에는 컴퓨터 기본지식, 소프트웨어개발 및 인공지능 기초이론과 실습을 배우며</h4>
    <h4>2,3학년에는  소프트웨어개발 실무 과정과 오픈 API를 활용하는 인공지능 응용분야의 소프트웨어를 개발하는 과정을 쉽게 배웁니다.</h4>
</body>
</html>