#calendar{
    display: flex;
    justify-content: center;
}

.small {
    width:50px;
    height:50px;
    margin-left:60px;
    margin-right:60px;
}
#icon {
    margin-top :30px;
    list-style :circle;
    padding :0;
} 
#icon > li {
    float :left;
} 
#icon img:hover {
    cursor :pointer;
}
#calYear, #calMonth {
    font-size:30px;
}
td {
    width: 70px;
    height: 70px;
}

.Calendar {
    height: 500px;
    font-size: 25px; 
    position: absolute;
    top: 50%;
    text-align: center;
    margin-top: -250px;
}

.Calendar>thead>tr:first-child>td { font-weight: bold; }

.Calendar>thead>tr:last-child>td {
    background-color: gray;
    color: white;
}        

.pastDay{ background-color: lightgray; }

.today{            
    background-color: #FFCA64;            
    cursor: pointer;
}

.futureDay{            
    background-color: #FFFFFF;
    cursor: pointer;
}

.futureDay.choiceDay, .today.choiceDay{            
    background-color: #3E85EF;            
    color: #fff;
    cursor: pointer;
}