/* * {
    background-color: ;
} */
.Big {
    width: 1400px;
    height: 800px;
    margin-left: 60px;
    margin-right: 60px;
}
#Map {
    width: 1400px;
    height: 800px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -700px;
    margin-top: -400px;
}