/* * {
    background-color: ;
} */

.Big {
    position: relative;
    max-width: 100%;
    height: auto;
    margin-left: 150px;
    margin-top: 50px;
}
#Map {
    width: 1400px;
    height: 800px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -700px;
    margin-top: -400px;
}
