* {
    background-color: grey;
}
.small {
    width: 50px;
    height: 50px;
    margin-left: 60px;
    margin-right: 60px;
}
.Big {
    width: 1400px;
    height: 800px;
    margin-left: 60px;
    margin-right: 60px;
}
#icon {
    margin-top: 30px;
    list-style: circle;
    padding: 0;
}
#icon > li {
    float: left;
}
#icon img:hover {
    cursor: pointer;
}
#Map {
    width: 1400px;
    height: 800px;

    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -700px;
    margin-top: -400px;
}